server:
  port: 8181

spring:
  application:
    name: alan-consumer-8181   # 暴露微服务名称

# 指定Eureka服务中心
eureka:
  client:
    register-with-eureka: false    # 指定是否向Eureka中注册当前主机
    fetch-registry: true          # 指定是否能够从Eureka中获取注册表
    service-url:
      #      defaultZone: http://localhost:8000/eureka # 这里是eureka-server的地址
      defaultZone: http://eureka8100.com:8100/eureka,http://eureka8200.com:8200/eureka,http://eureka8300.com:8300/eureka
  instance:
    instance-id: alan-consumer-8181
filter:
  url[0]: wwww.baidu.com
  url[1]: wwww.taobao.com
feign:
  httpclient:
    connection-timeout: 5000 #指定fegin客户端链接超时





